django==5.2
djangorestframework==3.16.1
drf-spectacular==0.29.0
django-cors-headers==4.9.0
django-environ==0.13.0
gunicorn==23.0.0
httpx==0.28.1
pgeocode==0.5.0
numpy==2.4.3
psycopg[binary]==3.2.9
pytest==9.0.2
pytest-django==4.12.0
